<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis Messenger</title>
    <link rel = "icon" href = 
    "https://www.svgrepo.com/show/303460/redis-logo.svg"
        type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>

.chatbox {
        position:absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        min-height: 300px;
        background: #621ec93b;
        border-radius: 1000px;
        padding: 0px;
        box-sizing: border-box
        }
        h3 {
            font-size: 25px;
            color: rgb(0, 0, 0);
        }

    body {
    margin: 0;
    padding: 0;
    background-image:url(https://about.fb.com/wp-content/uploads/2021/04/NRP_Private-Messaging_Header.jpg?fit=1921%2C1081);
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom;
    overflow: visible;
  }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Redis Messenger</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:5000/">Home</a>
              </li>
            </form>
          </div>
        </div>
      </nav>

  <div class="container">
  <div class="row align-items-start">
    <div id="joined" class="col">
      <br/>
    </div>
  </div>


    <div class="chatbox" style="text-align: center;"> <img class="user">
    <h1 style="text-align: center; font-size: 35px;">Redis Messenger</h1>
    <br />
    <div style="text-align: center;" id="messages">
        <input id="message" type="text" name="message" placeholder="Message" />
        <br />
        <br />
        <button class="btn btn-warning" style="background-color: rgb(206, 183, 50);"
            onClick="emitData()">Send</button>
      <br />
      <br />
  </form>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io("http://localhost:5000");

    function emitData() {

        const message = document.querySelector("#message").value;
        if (message.length > 0) {
            socket.emit("message", { message, from: "<%= username %>" });
        }
    }

    socket.on("message", ({ from, message }) => {
        const messageElement = document.createElement("h5");
        messageElement.innerText = `${from}: ${message}`;
        document.querySelector("#messages").appendChild(messageElement);
    });

    socket.on("joined", username => {
        const element = document.createElement("h3");
        element.innerText = `${username} is in the chat`;

        document.querySelector("#joined").appendChild(element);
    });
</script>
</html>